<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top header-extra">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="~/Index.cshtml"><img src="~/Images/CYBERDYNE-SYSTEMS.png" alt="@AppState["websiteTitle"]" style="position: relative; top: -24px; width: 110PX;"/></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="@(Page.Title == "Home" ? "active" : "")"><a href="~/Index.cshtml">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Robots <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Robot categories</li>
                        <li class="@(Page.Title == "renamethis" ? "active" : "")"><a href="#">Driving</a></li>
                        <li class="@(Page.Title == "renamethis" ? "active" : "")"><a href="#">Walking</a></li>
                        <li class="@(Page.Title == "renamethis" ? "active" : "")"><a href="#">Flying</a></li>
                        <li class="@(Page.Title == "renamethis" ? "active" : "")"><a href="#">Nautical</a></li>
                        <li class="@(Page.Title == "renamethis" ? "active" : "")"><a href="#">Stationary</a></li>
                        <li class="@(Page.Title == "renamethis" ? "active" : "")"><a href="#">Extra terrestrial</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Drones <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Drone categories</li>
                        <li class="@(Page.Title == "renamethis" ? "active" : "")"><a href="#">Driving</a></li>
                        <li class="@(Page.Title == "renamethis" ? "active" : "")"><a href="#">Walking</a></li>
                        <li class="@(Page.Title == "renamethis" ? "active" : "")"><a href="#">Flying</a></li>
                        <li class="@(Page.Title == "renamethis" ? "active" : "")"><a href="#">Nautical</a></li>
                        <li class="@(Page.Title == "renamethis" ? "active" : "")"><a href="#">Stationary</a></li>
                        <li class="@(Page.Title == "renamethis" ? "active" : "")"><a href="#">Extra terrestrial</a></li>
                    </ul>
                </li>
                <li class="@(Page.Title == "Company" ? "active" : "")"><a href="#">Company</a></li>
                <li class="@(Page.Title == "Contact" ? "active" : "")"><a href="#">Contact</a></li>
                @if (Session["userId"] != null)
    {
        // User is logged in
    }
    else
    {
        // User is not logged in
            <li class="@(Page.Title == "Register" ? "active" : "")"><a href="~/Register.cshtml">Register</a></li>
            <li class="@(Page.Title == "Login" ? "active" : "")"><a href="~/Login.cshtml">Login</a></li>
}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>