@using System.Configuration;
@using WebMatrix.Data;
@using System.Data;
@using System.Data.Sql;
@using System.Data.OleDb;
@using System.Data.SqlClient;
@{
    string productid = "3";
    SqlConnection con = new SqlConnection();
    con.ConnectionString = "Data Source=(LocalDB)\\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\\Cyberdine.mdf;Integrated Security=True";
    List<string> product = new List<string>();
    con.Open();
    SqlCommand name = new SqlCommand("SELECT * from Products where productid='" + productid + "'", con);
    SqlDataReader dr = name.ExecuteReader();
    while (dr.Read())
    {
        product.Add(dr.GetString(1)); //productname
        product.Add(dr.GetString(2)); //productcategory
        product.Add(dr.GetString(3)); //productsubcategory
        product.Add(dr.GetString(4)); //productslogan
        product.Add(dr.GetString(5)); //3dmodel
        product.Add(dr.GetString(6)); //description
    }

    con.Close();
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Cyberdine.mdf;Integrated Security=True";

    string provider = "System.Data.SqlClient";

    Database db = Database.OpenConnectionString(connectionString, provider);
    var specs = db.Query("SELECT Specification, Description from Specs where ProductID='" + productid + "'");
    var compo = db.Query("SELECT Component, Amount from Components where ProductID='" + productid + "'");
    var images = db.Query("SELECT productimageurl from Product_images where productid ='" + productid + "'");
    var videos = db.Query("SELECT productvideourl from Product_Videos where productid ='" + productid + "'");
    var code = db.Query("SELECT code from Productcodesnippets where productid ='" + productid + "'");
}
@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = product[0];
}
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Css/productpagina.css" type="text/css" />

</head>
    <div style="position:absolute; left:375px; right:100px; top:75px;">
        <h1>@product[0]</h1>
    </div>

    <div style="position:absolute; left:375px; right:100px;">
        <h3>Description</h3>
        <div style="position:relative; top:125px">
            <div id="bodydesc" style=" margin-right:auto; width:700px; height: 165px; overflow-y: scroll;">
                <p>
                    @product[5]
                </p>
            </div>
            @foreach (var image in images)
            {
                <img src="~/Images/@image.productimageurl" style="position: absolute; left:750px; right:0px; top:0px; border:1px solid black;" height="165">
            }
        </div>
    </div>

    <div style="position:absolute; left:375px; right:100px; top:310px;">
        <h3>Product Specifications</h3>
        <table style="width:475px; height: 310px; border:1px solid black;">
            <tr>
                <th>Technical Specifications</th>
                <th></th>
            </tr>
            @foreach (var spec in specs)
            {

                <tr>
                    <td>@spec.Specification</td>
                    <td>@spec.Description</td>
                </tr>
            }
        </table>
    </div>

    <div style="position:absolute; left:900px; right:100px; top:366px;">
        <div class="sketchfab-embed-wrapper">
        <iframe width="547" height="312" src="https://sketchfab.com/models/54cfc00c288a425c85c038089f74dd72/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
        </div>
    </div>

    <div style="position:absolute; left:375px; right:100px; top:707px">
        <h3>Robot Code</h3>
        <div id="codebox" style="position:relative;">
            @foreach (var cod in code)
            {
                <textarea rows="16" cols="100">
                @cod.code
                </textarea>
            }
        </div>
    </div>

    <div style="position:absolute; left:1140px; right:100px; top:707px">
        <h3>Components</h3>
        <table style="width:310px; height:324px; border:1px solid black;">
            <tr>
                <th>Component</th>
                <th>Amount</th>
            </tr>
            @foreach (var comp in compo)
            {
                <tr>
                    <td>@comp.Component</td>
                    <td>@comp.Amount</td>
                </tr>
            }

        </table>
    </div>

    <div style="position:absolute; left:375px; right:100px; top:1100px">
        <h3>Photos</h3>
        @foreach (var image in images)
        {
            <img src="~/Images/@image.productimageurl" height="225" width="355">
        }

    </div>

    <div style="position:absolute; left:375px; right:100px; top:1400px">
        <h3>Videos</h3>
        <div style="position:absolute; left:340px;">
            @foreach (var video in videos)
            {
                <iframe width="420" height="315" src="https://www.youtube.com/embed/ @video.productvideourl"></iframe>
            }
        </div>
    </div>

